PORT=3000
NODE_ENV=production

# Turso DB (libSQL Cloud)
TURSO_DATABASE_URL=libsql://tu-db-aqui.turso.io
TURSO_AUTH_TOKEN=tu-token-jwt-de-turso

# Groq Cloud
GROQ_API_KEY=gsk_tu_clave_de_groq_aqui
GROQ_MODEL=llama-3.1-8b-instant

# Evolution API (WhatsApp)
EVOLUTION_URL=https://tu-evolution-api.com
EVOLUTION_API_KEY=tu_clave_evolution
INSTANCE_NAME=isp-soporte

# WispHub API
WISPHUB_API_URL=https://api.wisphub.net/api
WISPHUB_API_KEY=tu_token_wisphub

# SmartOLT API
SMARTOLT_API_URL=https://tu-dominio.smartolt.com/api
SMARTOLT_API_KEY=tu_token_smartolt

# Configuración del Negocio
ISP_NAME=CloudWareMx
SOPORTE_HUMANO_PHONE=521XXXXXXXXXX
